<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{ pagelove }{% if title %} - {{ title }}{% endif %}</title>
        {% if head.stylesheet %}
            {% render head.stylesheet %}
        {% endif %}
        <link rel="stylesheet" href="/css/style.css">
        {% if head.script %}
            {% render head.script %}
        {% endif %}
    </head>
    <body>
    {% render "_includes/header.liquid" %}
	<main>    
		{{ content }}
	</main>
    {% render "_includes/footer.liquid" %}
    </body>
</html>
