:where(h1,h2,h3,h4,h5,h6) {
    font-weight: normal;
} 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
    color: #ddd;
}

header, footer {
    display: none;
}

main {
    width: 80%;
    margin: auto;
    text-align: center;
}

main {

    h2 {
        font-size: 5vw;
        font-family: "Lexend Mega", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
    }

    h1 {
        font-size: 3vw;
    } 

    article {
        display: none;
    }
}
