---
layout: layouts/base.njk
title: PageLove - Build AI-ready web apps with just HTML
description: Ship web apps faster, with less code and complexity, made for AI – with just HTML.
---

{% include "components/hero-section.njk" %}
{% include "components/how-it-works.njk" %}
{% include "components/testimonials.njk" %}
{% include "components/footer.njk" %}